body {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
nav {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 25dvw;
  max-width: 300px;
  padding: 10px;
  background-color: var(--bg-0);
  box-sizing: border-box;
}
nav a {
  display: flex;
  align-items: center;
  color: var(--text-1);
}
main {
  flex: 1;
  width: 0px;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}
[data-page="glyphs"] > div:has(h2) {
  display: flex;
}
[data-page="glyphs"] > div:has(h2) h2 {
  flex: 1;
}
.list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.list button {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: none;
  background-color: var(--bg-2);
}