body {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
nav {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 25dvw;
  max-width: 300px;
  padding: 10px;
  background-color: var(--bg-0);
  box-sizing: border-box;
}
nav a {
  display: flex;
  align-items: center;
  color: var(--text-1);
}
main {
  flex: 1;
  width: 0px;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}
#edit-glyph[open] {
  display: flex;
}
#edit-glyph div {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#edit-glyph label {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
  min-width: 200px;
}
#edit-glyph input {
  flex: 1;
  width: 0px;
  min-width: 0px;
  margin: 0px !important;
}
[data-page="glyphs"] > div:has(h2) {
  display: flex;
}
[data-page="glyphs"] > div:has(h2) h2 {
  flex: 1;
}
[data-page="glyphs"] label {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}
[data-page="glyphs"] input {
  margin: 2px !important;
}
.list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.list button {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: none;
  background-color: var(--bg-2);
}